.panel {
  max-width: 1000px;
  min-height: 100vh;
  border: 1px solid #000;
  margin: 20px auto;
  padding: 20px;
  margin-top: 80px;
}

.panel-list-title {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
}

.panel-list-pagination {
  display: flex;
  justify-content: center;
}
