/**/

.hover {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  padding: 5px;
  background-color: #ecf2ff;
  position: absolute;
  z-index: 1000;
}

/**/

.hover-point-item {
  font-size: 14px;
}

.hover-point-item span {
  font-size: 12px;
}

.hover-point-more-info {
  font-size: 11px;
}

/* x1,x2,y1,y2 */

.hover {
  top: calc(100% + 20px);
  left: 0;
}

/* .hover.x1-hov {
  transform: translate(-50%, -110%);
}

.hover.x2-hov {
  transform: translate(-50%, 10%);
}

.hover.y1-hov {
  transform: translate(-110%, -50%);
}

.hover.y2-hov {
  transform: translate(10%, -50%);
} */
