/**/

.dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}

/* point_type */

.tapas {
  background-color: red;
}

.cafe {
  background-color: green;
}

/* block_address */

.x811 {
  top: -3.5px;
  left: 0;
}

.x812 {
  top: -3.5px;
  left: 20%;
}

.x813 {
  top: -3.5px;
  left: 40%;
}

.x814 {
  top: -3.5px;
  left: 60%;
}

.x815 {
  top: -3.5px;
  left: 80%;
}

.x816 {
  top: -3.5px;
  right: -3px;
}

.x821 {
  bottom: -3.5px;
  left: 0%;
}

.x822 {
  bottom: -3.5px;
  left: 20%;
}

.x823 {
  bottom: -3.5px;
  left: 40%;
}

.x824 {
  bottom: -3.5px;
  left: 60%;
}

.x825 {
  bottom: -3.5px;
  left: 80%;
}

.x826 {
  bottom: -3.5px;
  right: -3px;
}

.y912 {
  left: -3.5px;
  top: 20%;
}

.y913 {
  left: -3.5px;
  top: 40%;
}

.y914 {
  left: -3.5px;
  top: 60%;
}

.y915 {
  left: -3.5px;
  top: 80%;
}

.y916 {
  left: -3.5px;
  bottom: -3px;
}

.y922 {
  right: -3.5px;
  top: 20%;
}

.y923 {
  right: -3.5px;
  top: 40%;
}

.y924 {
  right: -3.5px;
  top: 60%;
}

.y925 {
  right: -3.5px;
  top: 80%;
}

.y926 {
  right: -3.5px;
  bottom: 0;
}
