/**/

.dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 998;
}

/* point_type */

/**/

.dot.clicked-from-list {
  background-color: red;
}

/* block_address */

.x811 {
  top: -3.5px;
  left: 0;
}

.x812 {
  top: -3.5px;
  left: 20%;
}

.x813 {
  top: -3.5px;
  left: 45%;
}

.x814 {
  top: -3.5px;
  left: 70%;
}

.x815 {
  top: -3.5px;
  right: -3px;
}

.x821 {
  bottom: -3.5px;
  left: 0%;
}

.x822 {
  bottom: -3.5px;
  left: 20%;
}

.x823 {
  bottom: -3.5px;
  left: 45%;
}

.x824 {
  bottom: -3.5px;
  left: 70%;
}

.x825 {
  bottom: -3.5px;
  right: -3px;
}

.y912 {
  left: -3.5px;
  top: 20%;
}

.y913 {
  left: -3.5px;
  top: 45%;
}

.y914 {
  left: -3.5px;
  top: 70%;
}

.y922 {
  right: -3.5px;
  top: 20%;
}

.y923 {
  right: -3.5px;
  top: 45%;
}

.y924 {
  right: -3.5px;
  top: 70%;
}

/* specific cases */

.block_33.x824 {
  bottom: 15px;
  left: 60%;
}

.block_33.y924 {
  top: 60%;
  right: 15px;
}

.block_34.y914 {
  left: 20px;
  top: 60%;
}

.block_34.x822 {
  bottom: 15px;
  left: 35%;
}

.block_40.x814 {
  left: 60%;
  top: 15px;
}

.block_40.y922 {
  top: 30%;
  right: 15px;
}

.block_41.x812 {
  top: 15px;
  left: 30%;
}

.block_41.y912 {
  left: 15px;
  top: 30%;
}
