.map-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 80px auto 0;
}

.map {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  max-width: 1000px;
  border: 1px solid #000;
  margin: 20px 10px;
  padding: 20px;
}

.map-filter {
  max-width: 600px;
  height: 300px;
  border: 1px solid #000;
  margin: 20px auto;
  padding: 10px;
}
