.map-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 80px auto 0;
}

.map {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  max-width: 1000px;
  border: 1px solid #000;
  margin: 20px 10px;
  padding: 20px;
}

.map-filter {
  max-width: 600px;
  height: 300px;
  border: 1px solid #000;
  margin: 20px auto;
  padding: 10px;
}

.map-clicked-list {
  border: 1px solid #000;
  min-height: 100px;
  padding: 10px;
}

.map-clicked-list-title {
  font-size: 18px;
  font-weight: 600;
}

.map-clicked-list-item {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #000;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
}

.map-clicked-list-item:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.map-clicked-list-item > div:first-child {
  max-width: 150px;
}
